body {
    background-image:linear-gradient(to right, rgb(242,112,156), rgb(255,148,114));
    padding: 0;
    margin:0;
    text-align: center;
    font-family: 'Papyrus', fantasy;
}
/* header style */

.container{
    display:flex;
    flex-direction: column;
}
.navbar{
    display:flex;
    color: #f9faf8;
    background-color: #;
    padding:  20px 0px 20px 100px;
    align-items: center;
}
.header-img img{
    width: 84px;
    height: 84px;
    margin-right:auto;
}
.header-link{
    display:flex;
    margin-left:auto;
    padding: 0px 100px 0px 0px;
}
.header-link a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding:10px;
    font-family:'Papyrus', fantasy;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.header-link a:hover{
    color:pink;
}
/* Main part of website */

.main{
    display:flex;
    color: #f9faf8;
    background-image:linear-gradient(to right, rgb(242,112,156),rgb(255,148,114));
    align-items:center;
    justify-content:center;
    padding:90px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.main-2{
    flex-basis:400px;
    display:flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}
