body {
    background-image:linear-gradient(to right, rgb(242,112,156), rgb(255,148,114));
    padding: 0;
    margin:0;
    text-align: center;
    font-family: 'Roboto',arial;
}
/* header style */

.container{
    display:flex;
    flex-direction: column;
}
.navbar{
    display:flex;
    color: #f9faf8;
    
    padding:  20px 0px 20px 100px;
    align-items: center;
}
.header-img img{
    width: 84px;
    height: 84px;
    margin-right:auto;
}
.header-link{
    display:flex;
    margin-left:auto;
    padding: 0px 100px 0px 0px;
}
.header-link a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding:10px;
    font-family:'Roboto',arial;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.header-link a:hover{
    color:pink;
}
/* Main part of website */

.main{
    display:flex;
    color: #f9faf8;
    background-image:linear-gradient(to right, rgb(242,112,156),rgb(255,148,114));
    align-items:center;
    justify-content:center;
    padding:90px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.main-2{
    flex-basis:400px;
    display:flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}
.main-2 p{
    font-family: 'Roboto',arial;
    opacity: 0.7;
}
h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin:0;
    font-family:'Roboto',arial;
}
.main button{
    display:block;
    text-align: center;
    width:110px;
    border:none;
    background-color:lightpink;
    padding:10px;
    border-radius:8px;
    color:#fff;
    font-family:'Roboto',arial;
    text-decoration: none;
    font-weight: bold;
}
.main button:hover{
    background-color: white;
    color:pink;
}
.main-image img{
    width:500px;
    height:350px;
}
/* Content portion */

.content{
    align-items: center;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color:white;
}
.content-info{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000ff;
    color:white;
}
.content-info img{
    width: 200px;
    height:200px;
    object-fit: cover;
    border: 4px solid hotpink;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}
/* Info part */

.info {
    display:flex;
    flex-direction: column;
    padding: 0 200px;
}
.info p{
    font-size:36px;
    color:white;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto',arial;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff
}
/* Schedule part */

.schedule{
    margin:50px 200px;
    padding: 10px 80px;
    display:flex;
    align-items: center;
    border-radius: 5px;
    border-color:none;
}
.schedule-item{
    flex:1;
}
.schedule-text{
    text-align: left;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff
}
.schedule-text p{
    color:white;
    opacity:0.7;
    margin: 5px 30px 30px 50px;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff
}
h3{
    color: #fff;
    font-family:'Roboto',arial ;
    padding:0;
    margin:30px 0px 0px 50px;
}
.schedule-button button:hover{
    color:pink;
    background-color: white;
}
/* deployed website and forgot to add in this CSS */
.schedule-button button{
    color: #fff;
    font-family: 'Roboto',arial;
    border-color: #fff;
    border-radius: 8px;
    background: pink;
    padding: 5px 25px;
    font-size: 15px;
}
/* bottom of page footer */

.footer{
    background-image: linear-gradient(to right, rgb(242,112,156),rgb(255,148,114));
    color: #fff;
    font-family: 'Roboto',arial;
}
/* changed font from "Papyrus" to "Roboto" after first deployment */